@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
    font-family: Cormorant;
    src: url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: none;
    list-style: none;
}

/*
Font color = #8B1F15
Color background = #8B8982
head-font = Cormorant
paragraph-font = Roboto
*/