@import url('reset.css');


body {
    background-color: #cecbc1;
}


ul {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 20px;
}

a {
    color: #292929;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a:hover {
    color: #c93426;
}

h1 {
    font-family: Cormorant, serif, Arial, Helvetica, sans-serif;
    font-size: 3.5em;  /*Usar rem*/
    padding: 10px;
    text-align: center;
    font-weight: 200;
    color: #c93426;
    text-transform: uppercase;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 600px;
    display: flex;
    align-items: start;
    font-size: 1.3em;
    padding-left: 10px;
    color: #292929;
}

img {
    min-width: 10px;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #0000007e;
}
.image-paragraph {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    gap: 20px;   
}

.section-title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Cormorant, serif, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #c93426;
    padding: 10px;
}

.section-title::before {
    content: "";
    flex: .1;
    height: 1px;
    width: 100px;
    background-color: #999; /* You can use #ccc or any light gray */
    margin-right: 16px;
}
